<html>
  <body style="background-color: #f8f9fa; font-family: 'Open Sans', sans-serif">
    <div
      style="
        background-color: #f8f9fa;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
      "
    >
      <div style="padding: 20px">
        <div
          style="background-color: #ffffff; padding: 20px; border-radius: 5px"
        >

          <h3 style="color: #343a40; font-weight: bold; font-size: 24px">
            Dear {{username}},
          </h3>
          <hr
            style="
              border-top: 2px solid #dee2e6;
              margin-top: 20px;
              margin-bottom: 20px;
            "
          />
          <h5 style="color: #3b3f42; font-size: 18px; margin-top: 10px; ">
            Welcome aboard to COOLO Care. We are excited to have you join our team. To get started, please follow the steps below to create your account password: 
          </h5>
          <a
            href="{{url}}"
            style="
              background-color: #28a745;
              color: #ffffff;
              display: block;
              width: fit-content; 
              padding: 10px 20px;
              text-decoration: none;
              border-radius: 3px;
              font-size: 18px;
              margin: 15px auto 20px; 
              cursor: pointer;
              text-align: center;
            "
          >
            Set Your Password Here
          </a>
          <p style="color: #4b4f54; font-size: 16px; margin-top: 20px; ">
            Once your password is set, you will have access to the agent portal, where you can manage your profile, view tasks, and communicate with our team.
          </p>
          <br/>
          <p style="color: #4b4f54; font-size: 16px">
            We're thrilled to have you on board and look forward to working with you!
          </p>
          <p style="color: #4b4f54; font-size: 16px">
            Best regards,
          </p>
          <h6 style="color: #4b4f54; font-size: 16px; margin: 0px;">
            Coolo Care.
          </h6>
        </div>
      </div>
    </div>
  </body>
</html>
