<html>
  <body style="background-color: #f8f9fa; font-family: 'Open Sans', sans-serif">
    <div
      style="
        background-color: #f8f9fa;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
      "
    >
      <div style="padding: 20px">
        <div
          style="background-color: #ffffff; padding: 20px; border-radius: 5px"
        >

          <h3 style="color: #343a40; font-weight: bold; font-size: 24px">
            Dear {{username}},
          </h3>
          <hr
            style="
              border-top: 2px solid #dee2e6;
              margin-top: 20px;
              margin-bottom: 20px;
            "
          />
          <h5 style="color: #3b3f42; font-size: 18px; margin-top: 10px">
           Thank you for signing up with Coolo Care. To activate your account and start enjoying our services, please click the link below: 
          </h5>
          <a
            href="{{url}}"
            style="
              background-color: #28a745;
              color: #ffffff;
              display: inline-block;
              padding: 10px 20px;
              text-decoration: none;
              border-radius: 3px;
              font-size: 18px;
              margin-top: 15px;
              margin-bottom: 5px;
              cursor: pointer;
            "
          >
          Activate Your Account
          </a>
            <p style="color: #4b4f54; font-size: 16px">Please remember to keep your login details secure.  </p>
            <p style="color: #4b4f54; font-size: 16px; ">If you have any questions or need assistance, feel free to contact our customer support team at [Your Customer Support Email/Phone Number].  </p>
            <p style="color: #4b4f54; font-size: 16px">Please remember to keep your login details secure.  </p>
            <p style="color: #4b4f54; font-size: 16px">Best regards,  </p>
            <h6 style="color: #4b4f54; font-size: 16px; margin: 0px;">Coolo Care.  <h6>

        </div>
      </div>
    </div>
  </body>
</html>
